.ad-sponsored[data-v-e1644862] {
    border: thin solid #d1d2d3;
    border-radius: 6px;
    padding: 15px;
    margin: 30px 0 15px 0
}

.ad-sponsored .sponsored-title[data-v-e1644862] {
    color: #90939e;
    font-size: 13px;
    font-size: .8125rem;
    text-transform: uppercase;
    margin-bottom: 15px
}

textarea[data-v-7327a2f9] {
    width: 100%;
    caret-color: #ff7300;
    border-radius: 6px;
    padding: 12px;
    border: 2px solid #d1d2d3;
    font-size: 14px;
    font-size: .875rem
}

textarea.pd-error[data-v-7327a2f9] {
    border-color: #ce2c10
}

textarea.pd-error[data-v-7327a2f9]:focus {
    border-color: #ce2c10;
    caret-color: #ce2c10
}

textarea[data-v-7327a2f9]:focus {
    border-color: #ff7300
}

textarea[data-v-7327a2f9]::-webkit-input-placeholder {
    color: #d1d2d3
}

textarea[data-v-7327a2f9]::-moz-placeholder {
    color: #d1d2d3
}

textarea[data-v-7327a2f9]::placeholder {
    color: #d1d2d3
}

.pd-report-modal[data-v-1b8fd21b] {
    padding: 30px 50px
}

.pd-report-modal .pd-report-modal-header[data-v-1b8fd21b] {
    padding-bottom: 15px
}

.pd-report-modal .pd-report-modal-header h2[data-v-1b8fd21b] {
    font-size: 21px;
    font-size: 1.3125rem;
    color: #494b56
}

.pd-report-modal .pd-report-modal-body[data-v-1b8fd21b] {
    position: relative;
    margin-bottom: 15px;
    min-height: 50px
}

.pd-report-modal .pd-report-modal-body .radios[data-v-1b8fd21b] {
    margin-bottom: 8px
}

.pd-report-modal .pd-report-modal-body .inside-group[data-v-1b8fd21b] {
    margin-left: 32px
}

.pd-report-modal .pd-report-modal-footer[data-v-1b8fd21b] {
    padding-top: 15px;
    text-align: right
}

.pd-report-modal .pd-report-modal-footer button+button[data-v-1b8fd21b] {
    margin-left: 10px
}

.pd-delete-material-modal p {
    margin-bottom: 0
}

.pd-evaluation[data-v-7b5e8fd3] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    font-size: 20px;
    font-size: 1.25rem
}

.pd-evaluation.active[data-v-7b5e8fd3] {
    color: #ff7300
}

.pd-evaluation .pd-icon[data-v-7b5e8fd3] {
    margin-right: 5px
}

.pd-evaluation .pd-evaluation-count[data-v-7b5e8fd3] {
    font-size: .8em
}

.pd-material-action-menu[data-v-8fbdb126] .pd-action-menu-dropdown li .v-progress-circular {
    float: right;
    margin-top: 2px
}

.pd-material-action-menu[data-v-8fbdb126] .pd-action-menu-dropdown li i.save-icon {
    font-size: 15px;
    font-size: .9375rem;
    margin: 0 .5em 0 .1em
}
